h1 {
    padding: 15px 0;
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
}

.teamName {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#root {
    width: 100%;
}

@media screen and (max-width: 1199px) {
    h1 {
        font-size: 4.5rem;
    }
}

@media screen and (max-width: 991px) {
    h1 {
        font-size: 3.5rem;
    }
    .teamName {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 1.5rem;
    }
    .teamName {
        font-size: 1rem;
    }
    .vs {
        font-size: .75rem;
    }
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.close-games {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vs {
    padding: 0 15px;
    align-self: stretch;
    align-items: center;
    display: flex;
}

.row {
    justify-content: center;
}

.game:nth-child(even) {
    background-color: rgba(225, 225, 225, 1);
}

.game {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-logo {
    width: 100px;
}

.main {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 100%;
}

.dropdown-menu {
    background-color: rgba(225, 225, 225, 0);
    border: 0;
    padding: 0;
}

.week-header {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
}

.week-header-season-type {
    font-size: .75rem;
    font-weight: 300;
    text-align: center;
    padding-top: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

hr {
    width: 100%;
    margin-top: 0 !important;
}

.title {
    font-weight: 300;
    line-height: 1.2;
}

.card {
    margin-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

.card-body {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-toggler-icon {
    filter: invert(100);
}

nav {
    background-color: #4267B2 !important;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #FFFFFF;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: white;
}

.weekOfYear {
    text-transform: 'capitalize';
    margin-left: 10px !important;
}

.stickyheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    margin-bottom: 15px;
}